.contact-section {
  padding-top: fzm(168px);
  @include min-tablet {
    padding-top: fzl(224px);
  }
  @include min-desktop {
    padding-top: fzd(224px);
  }
}

.contact {
  @include min-tablet {
    display: flex;
    justify-content: space-between;
    &__left {
      margin-right: fzl(60px);
      width: 55%;
      flex-shrink: 0;
    }
    &__right {
      flex-grow: 1;
    }
  }
  @include min-desktop {
    &__left {
      margin-right: fzd(144px);
      flex-shrink: 0;
      width: fzd(864px);
    }
    &__right {
      flex-grow: 1;
    }
  }
  &__tt {
    margin-bottom: fzm(56px);
    @include min-tablet {
      margin-bottom: fzl(56px);
    }
    @include min-desktop {
      margin-bottom: fzd(56px);
    }
  }
  &__checkbox {
    margin-bottom: fzm(64px);
    @include min-tablet {
      margin-bottom: 0;
    }
  }
  &__subtt {
    margin-bottom: fzm(16px);
    @include min-tablet {
      margin-bottom: fzl(24px);
      font-size: fzl(24px);
      line-height: (36/24);
    }
    @include min-desktop {
      margin-bottom: fzd(24px);
      font-size: fzd(24px);
      line-height: (36/24);
    }
  }
  &__grid {
    margin-bottom: fzm(72px);
  }
  &__left {
    margin-bottom: fzm(144px);
    @include min-tablet {
      margin-bottom: fzl(114px);
    }
    @include min-desktop {
      margin-bottom: fzd(114px);
    }
    .contact {
      &__tt {
        margin-bottom: fzm(56px);
        @include min-tablet {
          margin-bottom: fzl(104px);
        }
        @include min-desktop {
          margin-bottom: fzd(104px);
        }
      }
    }
  }
  &__right {
    margin-bottom: fzm(144px);
    @include min-tablet {
      margin-bottom: fzl(114px);
    }
    @include min-desktop {
      margin-bottom: fzd(114px);
    }
  }
  &__link {
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    color: #B8BEC8;
    margin-bottom: fzm(72px);
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
    @include min-tablet {
      font-weight: 300;
      font-size: fzl(20px);
      line-height: (32/20);
      margin-bottom: fzl(120px);
    }
    @include min-desktop {
      font-weight: 300;
      font-size: fzd(20px);
      line-height: (32/20);
      margin-bottom: fzd(120px);
    }
  }
  &__tt-sm {
    margin-bottom: fzm(16px);
    @include min-tablet {
      margin-bottom: fzl(16px);
    }
    @include min-desktop {
      margin-bottom: fzd(16px);
    }
  }
  &__wrapp-adr {
    margin-bottom: fzm(32px);
    @include min-tablet {
      margin-bottom: fzl(32px);
    }
    @include min-desktop {
      margin-bottom: fzd(32px);
    }
  }
  &__sity {
    margin-bottom: 4px;
  }
  &__adress {
    font-weight: 300;
    font-size: fzm(12px);
    line-height: (18/12);
    color: #B8BEC8;
  }
  &__grid {
    @include min-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: fzl(32px);
      margin-bottom: fzl(152px);
    }
    @include min-desktop {
      grid-gap: fzd(32px);
      margin-bottom: fzd(152px);
    }
  }
}

.form-group-grid {
  @include min-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  @include min-desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: fzd(144px);
  }
}

.footer-contact {
  .f-body {
    border-top: 1px solid #fff;
  }
}

.form-group-check {
  margin-bottom: fzm(8px);
  &:last-child {
    margin-bottom: 0;
  }
  @include min-tablet {
    margin-bottom: fzl(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include min-desktop {
    margin-bottom: fzd(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-group-radio {
  margin-bottom: fzm(8px);
  &:last-child {
    margin-bottom: 0;
  }
  @include min-tablet {
    margin-bottom: fzl(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include min-desktop {
    margin-bottom: fzd(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.check-my {
  position: relative;
  display: block;
  padding-left: fzm(32px);
  @include min-tablet {
    padding-left: fzl(32px);
  }
  @include min-desktop {
    padding-left: fzd(32px);
  }
  &__txt {
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    color: #B8BEC8;
    @include min-tablet {
      font-size: fzl(20px);
      line-height: (32/20);
    }
    @include min-desktop {
      font-size: fzd(20px);
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0;
    opacity: 0;
    pointer-events: none;
    &:checked {
      + .check-my__field {
        background: url(../../assets/img/check.svg) center center no-repeat;
        background-size: fzm(8px) fzm(6px);
        @include min-tablet {
          background-size: fzl(8px) fzl(6px);
        }
        @include min-desktop {
          background-size: fzd(8px) fzd(6px);
        }
      }
    }
  }
  &__field {
    width: fzm(14px);
    height: fzm(14px);
    position: absolute;
    top: 50%;
    margin-top: fzm(-7px);
    left: fzm(5px);
    border: 1px solid #FFFFFF;
    @include min-tablet {
      width: fzl(16px);
      height: fzl(16px);
      border: fzl(2px) solid #fff;
      margin-top: fzl(-8px);
      left: 0;
    }
    @include min-desktop {
      width: fzd(16px);
      height: fzd(16px);
      border: fzd(2px) solid #fff;
      margin-top: fzd(-8px);
      left: 0;
    }
  }
}

.radio-my {
  position: relative;
  display: block;
  padding-left: fzm(32px);
  @include min-tablet {
    padding-left: fzl(28px);
  }
  @include min-desktop {
    padding-left: fzd(28px);
  }
  &__txt {
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    color: #B8BEC8;
    @include min-tablet {
      font-size: fzl(20px);
      line-height: (32/20);
    }
    @include min-desktop {
      font-size: fzd(20px);
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    line-height: 0;
    opacity: 0;
    pointer-events: none;
    &:checked {
      + .radio-my__field {
        background-color: #fff;
      }
    }
  }
  &__field {
    width: fzm(14px);
    height: fzm(14px);
    position: absolute;
    top: 50%;
    margin-top: fzm(-7px);
    left: fzm(5px);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: fzm(3px);
    background-clip: content-box;
    background-color: transparent;
    @include min-tablet {
      width: fzl(16px);
      height: fzl(16px);
      left: 0;
      margin-top: fzl(-8px);
      padding: fzl(3px);
      border: fzl(2px) solid #FFFFFF;
    }
    @include min-desktop {
      width: fzd(16px);
      height: fzd(16px);
      margin-top: fzd(-8px);
      padding: fzd(3px);
      border: fzl(2px) solid #FFFFFF;
    }
  }
}

.form-group {
  margin-bottom: fzm(40px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input:-internal-autofill-selected {
    appearance: none;
    background-image: none !important;
    background-color: transparent !important;
    color: #fff !important;
  }
  label.error {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: fzm(6px);
    font-weight: 300;
    font-size: fzm(12px);
    line-height: (16/12);
    color: #FF9D9D;
    @include min-tablet {
      margin-top: fzl(8px);
      font-size: fzl(12px);
    }
    @include min-desktop {
      margin-top: fzd(8px);
      font-size: fzd(12px);
    }
    + .form-group__label {
      color: #FF9D9D;
    }
  }
  &-file {
    line-height: 0;
  }
  @include min-tablet {
    margin-bottom: fzl(40px);
  }
  @include min-desktop {
    margin-bottom: fzd(40px);
  }
  &_btn {
    @include min-tablet {
      margin-top: fzl(48px);
    }
    @include min-desktop {
      margin-top: fzd(48px);
    }
  }
  &__label {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: fzm(12px);
    line-height: (18/12);
    color: #B8BEC8;
    order: -1;
    @include min-tablet {
      font-weight: 400;
      font-size: fzl(12px);
      line-height: (16/12);
      margin-bottom: fzl(-8px);
    }
    @include min-desktop {
      font-weight: 400;
      font-size: fzd(12px);
      line-height: (16/12);
      margin-bottom: fzd(-8px);
    }
  }
  &__field {
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    width: 100%;
    font-family: $font1;
    background: none;
    border: none;
    border-radius: 0;
    background: transparent;
    
    // border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 1;
    height: fzm(40px);
    // box-shadow: inset 0px -1px 0px #FFFFFF;
    border-bottom: 1px solid #fff;
    &.error {
      color: #FF9D9D;
      &::placeholder {
        color: #FF9D9D;
      }
    }
    &.valid {
      ~ label.form-group__label {
        color: #fff;
      }
    }
    @include min-tablet {
      font-weight: 300;
      font-size: fzl(20px);
      line-height: (32/20);
      height: fzl(64px);
    }
    @include min-desktop {
      font-weight: 300;
      font-size: fzd(20px);
      line-height: (32/20);
      height: fzd(64px);
    }
    &::placeholder {
      color: #fff;
      font-weight: 300;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
      ~ .form-group__label {
        opacity: 1;
      }
    }
    ~ .form-group__label {
      opacity: 0;
    }
  }
}

.form-group-file {
  textarea {
    padding-right: 50px;
  }
  &.active {
    .aks-file-upload-label {
      display: none;
    }
  }
}

textarea {
  &.form-group__field {
    height: fzm(40px);
    padding-top: fzm(8px);
    @include min-tablet {
      height: fzl(64px);
      padding-top: fzl(16px);
    }
    @include min-desktop {
      height: fzd(64px);
      padding-top: fzd(16px);
    }
  }
}

.file {
  line-height: 0;
  width: 100%;
  .aks-file-upload {
    box-shadow: none;
    background: none;
    padding: 0;
    border: none;
    border-radius: 0;
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    @include min-tablet {
      font-weight: 300;
      font-size: fzl(18px);
      line-height: (32/18);
    }
    @include min-desktop {
      font-size: fzd(18px);
      line-height: (32/18);
    }
    
  }
  .aks-file-upload-content {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .aks-file-upload-preview {
    border-radius: 0;
    overflow: visible;
    width: 100%;
    width: auto;
    justify-content: flex-start;
    background: none;
    align-items: flex-end;
    margin-top: fzm(24px);
    margin-bottom: 0;
    @include min-tablet {
      margin-top: fzl(24px);
    }
    @include min-desktop {
      margin-top: fzd(24px);
    }
  }
  .aks-file-upload-title {
    margin-bottom: 0;
  }
  .aks-file-upload .aks-file-upload-p-header {
    padding: 0;
    width: auto;
    padding-right: 36px;
    background: none;
    position: relative;
    width: auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    
    
  }
  .aks-file-upload-p-header-content {
    padding: 0;
    width: auto;
  }
  .aks-file-upload .aks-file-upload-delete {
    right: 0;
    width: fzm(32px);
    height: fzm(32px);
    background: transparent url(../../assets/img/close.svg) center center no-repeat;
    background-size: fzm(12px) fzm(12px);
    @include min-tablet {
      width: fzl(20px);
      height: fzl(20px);
      background-size: fzl(14px) fzl(14px);
    }
    @include min-desktop {
      width: fzd(20px);
      height: fzd(20px);
      background-size: fzd(14px) fzd(14px);
    }
    &:hover {
      outline: none;
      border: none;
      box-shadow: none;
    }
    svg {
      display: none;
    }
  }
  .aks-file-upload-error {
    padding: 0;
    margin: 0;
    font-size: fzm(16px);
    line-height: (24/16);
    font-family: $font1;
    font-weight: 300;
    display: block;
    text-align: left;
    width: auto;
    @include min-tablet {
      font-weight: 300;
      font-size: fzl(18px);
      line-height: (32/18);
    }
    @include min-desktop {
      font-size: fzd(18px);
      line-height: (32/18);
    }
  }
}

.aks-file-upload-label {
  position: absolute;
  top: fzm(-50px);
  right: 0;
  background: url(../../assets/img/file.svg) center center no-repeat;
  width: fzm(48px);
  height: fzm(48px);
  span {
    display: none;
  }
  @include min-tablet {
    width: fzl(24px);
    height: fzl(60px);
    top: fzl(-60px);
    background-size: fzl(23px) fzl(21px);
  }
  @include min-desktop {
    width: fzd(24px);
    height: fzd(60px);
    top: fzd(-60px);
    background-size: fzd(23px) fzd(21px);
  }
}

.aks-file-upload-p-header-icon, .aks-file-upload-size, .aks-file-upload-p-main {
  display: none;
}
.aks-file-upload-preview  {
  height: auto !important;
}

.div {
  position: relative;
}




