.hero-home {
  padding-top: fzm(168px);
  padding-bottom: fzm(144px);
  @include min-tablet {
    padding-top: fzl(168px);
    padding-bottom: fzl(72px);
  }
  @include min-desktop {
    padding-top: fzd(224px);
    padding-bottom: fzd(96px);
  }
  &__tt {
    margin-bottom: fzm(40px);
    @include min-tablet {
      margin-bottom: fzl(32px);
    }
    @include min-desktop {
      margin-bottom: fzd(48px);
    }
  }
  &__desc {
    max-width: fzm(231px);
    margin-left: auto;
    @include min-tablet {
      max-width: fzl(416px);
    }
    @include min-desktop {
      max-width: fzd(640px);
    }
  }
}

.hero-home {
  .cards-preview {
    margin-top: fzm(144px);
    @include min-tablet {
      margin-top: fzl(72px);
    }
    @include min-desktop {
      margin-top: fzd(96px);
    }
  }
}

.cards-preview {
  @include min-tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-preview {
    &:nth-child(2) {
      width: fzm(280px);
      margin-left: auto;
      @include min-tablet {
        width: fzl(416px);
        margin-left: 0;
      }
      @include min-desktop {
        width: fzd(640px);
      }
    }
    &:nth-child(3) {
      width: fzm(280px);
      margin-left: auto;
      @include min-tablet {
        width: fzl(416px);
        margin-left: 0;
      }
      @include min-desktop {
        width: fzd(640px);
      }
      
    }
    &:nth-child(6) {
      width: fzm(280px);
      margin-left: auto;
      @include min-tablet {
        width: fzl(416px);
        margin-left: 0;
      }
      @include min-desktop {
        width: fzd(640px);
      }
      
    }
    &:nth-child(7) {
      width: fzm(280px);
      margin-left: auto;
      @include min-tablet {
        width: fzl(416px);
        margin-left: 0;
      }
      @include min-desktop {
        width: fzd(640px);
      }
    }
  }
}

.card-preview {
  display: block;
  outline: none;
  margin-bottom: 112px;
  width: fzm(300px);
  @include min-tablet {
    width: fzl(640px);
    margin-bottom: fzl(64px);
  }
  @include min-desktop {
    width: fzd(864px);
    margin-bottom: fzd(32px);
  }
  &__img {
    position: relative;
    overflow: hidden;
    background: #8E7D6F;
    margin-bottom: 16px;
    padding-bottom: 100%;
    @include min-tablet {
      margin-bottom: 24px;
    }
    @include min-desktop {
      margin-bottom: 32px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &-hover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover {
    .card-preview__img-hover {
      opacity: 1;
    }
  }
  &__subtt {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $c-grey;
    margin-bottom: 8px;
    @include min-tablet {
      margin-bottom: 4px;
    }
    @include min-desktop {
      margin-bottom: 8px;
    }
  }
  &__tt {
    margin-bottom: 16px;
    @include min-tablet {
      margin-bottom: 12px;
    }
    @include min-desktop {
      margin-bottom: 16px;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    .btn {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.split-hero,
.split-hero-second {
  .line {
    overflow: hidden;
  }
}

