.value-box {
  padding-bottom: fzm(152px);
  @include min-tablet {
    padding-bottom: fzl(144px);
  }
  @include min-desktop {
    padding-bottom: fzd(200px);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: fzm(56px);
    @include min-tablet {
      grid-template-columns: repeat(4, auto);
      grid-gap: fzl(80px);
      justify-content: flex-start;
    }
    @include min-desktop {
      grid-gap: fzd(104px);
    }
  }
  &__number {
    font-weight: 300;
    font-size: fzm(32px);
    line-height: (40/32);
    margin-bottom: fzm(8px);
    @include min-tablet {
      font-weight: 400;
      font-size: fzl(40px);
      line-height: (48/40);
      margin-bottom: fzl(6px);
    }
    @include min-desktop {
      font-size: fzd(56px);
      line-height: (64/56);
      margin-bottom: fzd(8px);
    }
  }
  &__txt.txt-st {
    font-weight: 300;
    font-size: fzm(16px);
    line-height: (24/16);
    color: $c-grey;
    @include min-tablet {
      font-size: fzl(16px);
      line-height: (24/16);
    }
    @include min-desktop {
      font-size: fzd(20px);
      line-height: (32/20);
    }
  }
}


