.acc-box {
  padding-bottom: fzm(144px);
  @include min-tablet {
    padding-bottom: fzl(144px);
  }
  @include min-desktop {
    padding-bottom: fzd(200px);
  }
  &__tt {
    margin-bottom: fzm(24px);
    @include min-tablet {
      margin-bottom: fzl(24px);
    }
  }
  &__grid {
    @include min-tablet {
      display: flex;
      justify-content: space-between;
      grid-gap: 30px;
      .acc-box__tt {
        width: fzl(416px);
      }
      .acc-box__body {
        width: fzl(752px);
      }
    }
    @include min-desktop {
      .acc-box__tt {
        width: fzd(640px);
      }
      .acc-box__body {
        width: fzd(976px);
      }
      
    }
  }
}

.acc-bl {
  box-shadow: inset 0px -1px 0px #1C1C1C;
  &__cap {
    padding: fzm(24px) fzm(48px) fzm(24px) 0;
    position: relative;
    font-size: fzm(16px);
    line-height: (24/16);
    cursor: pointer;
    @include min-tablet {
      font-size: fzl(14px);
      line-height: (24/14);
      padding: fzl(24px) fzl(42px) fzl(24px) 0;
    }
    @include min-desktop {
      padding: fzd(32px) fzd(48px) fzd(32px) 0;
      font-size: fzd(18px);
      line-height: (32/18);
    }
    &:after {
      content: "";
      position: absolute;
      top: fzm(24px);
      transition: all 0.3s ease-in-out;
      right: 0;
      width: fzm(24px);
      height: fzm(24px);
      
      background: url(../../assets/img/ic-plus.svg) center center no-repeat;
      background-size: 100% 100%;
      @include min-tablet {
        width: fzl(18px);
        height: fzl(18px);
        top: fzl(27px);
      }
      @include min-desktop {
        width: fzd(24px);
        height: fzd(24px);
        top: fzd(32px);
      }
    }
  }
  &__body {
    display: none;
    padding-bottom: fzm(24px);
    font-weight: 300;
    font-size: fzm(12px);
    line-height: (18/12);
    @include min-tablet {
      font-size: fzl(12px);
      line-height: (20/12);
      padding-bottom: fzl(24px);
    }
    @include min-desktop {
      font-size: fzd(16px);
      line-height: (28/16);
      padding-bottom: fzd(32px);
    }
  }
}
.acc-bl {
  &.active {
    .acc-bl__cap {
      &:after {
        transform: rotate(135deg);
      }
    }
  }
}


