.awards-box {
  padding-bottom: fzm(200px);
  @include min-tablet {
    padding-bottom: fzl(334px);
  }
  @include min-desktop {
    padding-bottom: fzd(446px);
  }
  &__inner {
    @include min-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  }
  &__tt {
    margin-bottom: fzm(32px);
    @include min-tablet {
      margin-bottom: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @include min-tablet {
      min-width: fzl(560px);
    }
    @include min-desktop {
      min-width: fzd(752px);
    }
    &-item {
      width: fzm(99px);
      @include min-tablet {
        width: fzl(104px);
      }
      @include min-desktop {
        width: fzd(138px);
      }
      img {
        width: 100%;
        display: block;
      }
    }
  }
}


