
//color
$baseColor: #000;
$mainColor: #2f5572;
$hoverColor: #061e2f;
$c-grey: #B8BEC8;
$c-dark: #000;
$c-light: #fff;
$c-dolphin: #18181A;
$c-iron: #3B3D40;
$c-pebble: #B8BEC8;
$c-pier: #D4D8DE;
$c-wave: #F0F1F3;

//font
$font1: 'Epilogue', Arial, sans-serif;


@mixin max-desktop-lg {
	@media only screen and (max-width: 1799px) { @content; }
}

@mixin max-desktop {
	@media only screen and (max-width: 1439px) { @content; }
}

@mixin max-laptop {
	@media only screen and (max-width: 1199px) { @content; }
}

@mixin max-tablet-portrait {
	@media only screen and (max-width: 991px) { @content; }
}

@mixin max-tablet {
	@media only screen and (max-width: 767px) { @content; }
}

@mixin max-small {
	@media only screen and (max-width: 350px) { @content; }
}


@mixin min-small {
	@media only screen and (min-width: 350px) { @content; }
}

@mixin min-tablet {
	@media only screen and (min-width: 768px) { @content; }
}

@mixin min-tablet-portrait {
	@media only screen and (min-width: 992px) { @content; }
}

@mixin min-laptop {
	@media only screen and (min-width: 1200px) { @content; }
}

@mixin min-desktop {
	@media only screen and (min-width: 1440px) { @content; }
}

@mixin min-desktop-lg {
	@media only screen and (min-width: 1800px) { @content; }
}


@mixin small_laptop_custom {
	@media only screen and (min-width: 1200px) and (max-height: 700px) { @content; }
}

// fonts size

$vw-base: 19.2px;
$vw-base-laptop: 14.4px;
$vw-base-mobile: 3.75px;

@function fzd($size) {
  $vw-size: $size / $vw-base;
  @return $vw-size * 1vw;
}

@function fzl($size) {
  $vw-size: $size / $vw-base-laptop;
  @return $vw-size * 1vw;
}

@function fzm($size) {
  $vw-size: $size / $vw-base-mobile;
  @return $vw-size * 1vw;
}

